<!--会社の新規登録画面(new.html.erb)と更新画面(.html.erb)をこのページに書いています。-->
<h1>会社<%=type %></h1>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- jQuery-datetimepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous" />
<%= form_with model:company,local:true,method:method do |f| %>

<div class="form-group">
    <label>会社名</label>
    <%=f.text_field :name,class: "form-control" %>
</div>
<div class="form-group">
    <label>マイページURL</label>
    <%=f.text_field :url,class: "form-control" %>
</div>
<div class="form-group">
    <label>マイページID</label>
    <%=f.text_field :mypage_id,class: "form-control" %>
</div>
<div class="form-group">
    <label>マイページパスワード</label>
    <%=f.text_field :mypage_pwd,class: "form-control" %>
</div>
<div class="form-group">
    <label>タスク1</label>
    <%=f.text_field :task1,class: "form-control" %>
</div>
<div class="form-group">
    <label>期日1</label>
    <%=f.text_field :due1,class: "datetimepicker form-control", autocomplete: "off"%>
</div>
<div class="form-group">
    <label>タスク2</label>
    <%=f.text_field :task2,class: "form-control" %>
</div>
<div class="form-group">
    <label>期日2</label>
    <%=f.text_field :due2,class: "datetimepicker form-control", autocomplete: "off" %>
</div>
<div class="form-group">
    <label>タスク3</label>
    <%=f.text_field :task3,class: "form-control" %>
</div>
<div class="form-group">
    <label>期日3</label>
    <%=f.text_field :due3,class: "datetimepicker form-control", autocomplete: "off" %>
</div>
<div class="form-group">
    <label>タスク4</label>
    <%=f.text_field :task4,class: "form-control" %>
</div>
<div class="form-group">
    <label>期日4</label>
    <%=f.text_field :due4,class: "datetimepicker form-control", autocomplete: "off" %>
</div>
<div class="form-group">
    <label>メモ（ESの内容を書いたり、面接で言おうと思っていることなど自由に記入してください）</label>
    <%= f.text_area :memo, class: "form-control", size: "100x10" %>
</div>

<%= link_to "戻る",companies_path %>
<%=f.submit type %>
<% end %>

<script>
$(function() {
  $('.datetimepicker').datetimepicker({
    step:30, // 30分刻み
  });
});
</script>
