<!--会社一覧画面-->
<h1>会社一覧</h1>

<%= form_with method: "get",local: true do |f| %>
<%= f.text_field "name", placeholder: "会社名を入力" %>
<br>
<%=f.submit "検索" %>
<% end %>

<%= form_with method: "get",local: true do |f| %>
<%=f.submit "検索クリア" %>
<% end %>

<br>
<%=link_to "新規登録",new_company_path %>
<!--全て表示すると文字が2行になるなどするのでタスク3～期限4は一覧画面からは見えないようになっています。-->
<!--ただ、それはそれで不便な点もある気がしていて、、-->
<table>
    <tr>
        <th>会社名</th>
        <th>マイページID</th>
        <th>マイページパスワード</th>
        <th>タスク1</th>
        <th>期日1</th>
        <th>タスク2</th>
        <th>期日2</th>
        <!--<th>タスク3</th>-->
        <!--<th>期日3</th>-->
        <!--<th>タスク4</th>-->
        <!--<th>期日4</th>-->
        <th>リンク</th>
    </tr>
    <% @companies.each do |company| %>
    <tr>
        <td><%= link_to company.name,company.url %></td>
        <td><%=company.mypage_id %></td>
        <td><%=company.mypage_pwd %></td>
        <td><%=company.task1 %></td>
        <td><%=company.due1 %></td>
        <td><%=company.task2 %></td>
        <td><%=company.due2 %></td>
        <td>
            <%=link_to "詳細",company_path(company) %>
            <%=link_to "編集",edit_company_path(company) %>
            <!--削除する際はrailsのconfirm機を使って確認しています-->
            <%=link_to "削除",company_path(company), method: "delete", data:{confirm:"本当に削除しますか?"} %>
        </td>
    </tr>
    <% end %>
</table>