<!--スケジュール画面-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- jQuery-datetimepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous" />
<br>
<h1>スケジュール</h1>
<br>
<h3>スケジュール追加</h3>
    <%= form_with model:@schedule,url:create_schedule_path,local:true,method:"post" do |f| %>
    <div class="form-group">
    <label>会社名</label>
    <%=f.select :name,@companies_name, {include_blank: '---'} %>
</div>
<div class="form-group">
    <label>タスク</label>
    <%=f.text_field :task %>
</div>
<div class="form-group">
    <label>期日</label>
    <%=f.text_field :due,class: "datetimepicker", autocomplete: "off"%>
</div>

    <%=f.submit "登録", class:"btn btn-primary"%>
    <% end %>




<table class="table table-striped">
    <tr>
        <th>会社名</th>
        <th>マイページID</th>
        <th>マイページパスワード</th>
        <th>タスク</th>
        <th>期日</th>
        <th>リンク</th>
    </tr>
    
    
    <% @companies.each do |company| %>
    <tr>
        <td><%= link_to company[:name],company[:url] %></td>
        <td><%=company[:mypage_id] %></td>
        <td><%=company[:mypage_pwd] %></td>
        <td><%=company[:task] %></td>
        <td><%=company[:due] %></td>
        <td>
            <%=link_to "会社詳細",schedule_company_path(:id => company[:id]) ,class:"btn btn-info"%>
            <!--削除する際はrailsのconfirm機能を使って確認しています-->
            <%=link_to "完了",schedule_path(company), method: "delete", data:{confirm:"本当に削除しますか?"},class:"btn btn-danger"%>
        </td>
    </tr>
    <% end %>
</table>

<script>
$(function() {
  $('.datetimepicker').datetimepicker({
    step:30, // 30分刻み
  });
});
</script>